# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
ENV/
.env

# Base de datos
*.db
*.sqlite
*.sqlite3
db.sqlite3

# Logs y archivos temporales
*.log
*.pot
*.so

# IDE - Visual Studio Code
.vscode/

# Sistema operativo
## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp